@model List<CollegeProgram>

<a class="btn btn-success" href="/program/add"><i class="bi bi-plus-lg"></i> New Tech Program</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Affliation</th>
      <th scope="col">Started</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @{
      int i = 1;
    }
    @foreach(var college in Model)
    {
      <tr>
        <th scope="row">@(i++)</th>
        <td>@college.Name</td>
        <td>@college.Affliation</td>
        <td>@college.Started</td>
        <td>
          <a href="/program/edit?id=@college.Id"><i class="bi bi-pen text-warning"></i></a>
          <a href="/program/delete?id=@college.Id"><i class="bi bi-trash text-danger"></i></a>
        </td>
      </tr>
    }    
  </tbody>
</table>